body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/042/886/original/background.jpeg?1659796836);
  background-size: 600px;
}

h1 {
  color: #252633;
  font-size: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #252633;
  font-size: 18px;
  line-height: 24px;
}
li.first-letter {
  text-transform: capitalize;
}

#description {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
  line-height: 50px;
}
.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px 50px;
  background-color: rgb(237, 232, 244);
  color: #252633;
}

.weather-temperature img {
  margin-left: -30px;
  height: 160px;
  width: 160px;
}

.weather-temperature strong {
  color: black;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  margin-left: -30px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16 px;
  top: -25px;
}

.btn {
  margin-top: -14px;
  background-color: #4d3b87;
  border: #4d3b87;
}

.btn:hover {
  background-color: #8a447a;
}
.weather-temperature .active {
  color: #252633;
  cursor: default;
  text-decoration: none;
}

.footer {
  text-align: center;
  max-width: 700px;
  margin-top: -20px;

  border-radius: 10px 50px;
  background-color: rgb(237, 232, 244);
  color: #252633;
}

#breakdown {
  margin-top: 35px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
